body {
    background: linear-gradient(to right,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.7)),url(img/common-bg.svg) !important;
}

.container {
    display: grid;
    grid-template-columns: 75% 20%;
    grid-template-rows: auto auto auto;
    border: 4px solid cornflowerblue;
    border-radius: 25px;
    margin-top: 100px;
    padding: 35px;
    row-gap: 35px;
    position: relative;
    margin-bottom: 75px;
}

div#pro {
    font-size: 36px;
    font-weight: bold;
    color: cornflowerblue;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    position: relative;
    left: 7%;
    top: 65px;
    display: inline;
}

.project {
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardd {
    border: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: relative;
}

.card-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-body {
    flex: 1 1 auto;
    padding: 10px !important;
}

.custom-border-row {
    border: 1px solid #f70000;
}

.line1 {
    position: absolute;
    height: 3px !important;
    color: cornflowerblue;
    width: 100%;
    top: 33%;
}

.line2 {
    position: absolute;
    height: 3px !important;
    color: cornflowerblue;
    width: 100%;
    top: 66%;
}

h4 {
    color: cornflowerblue;
    font-weight: bold !important;
    font-size: 28px;
    text-decoration: underline;
}

p {
    font-size: 17px;
}

/* @media (max-width: 768px){
    .btn-primary {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
        width: 100px !important;
        font-size: 13px !important;
    }

    .project > p {
        font-size: 14px;
    }

    .container {
        display: grid;
        grid-template-columns: 75% 20%;
        grid-template-rows: auto auto auto;
        border: 4px solid cornflowerblue;
        border-radius: 25px;
        margin-top: 100px;
        padding: 35px;
        row-gap: 100px;
        position: relative;
        margin-bottom: 75px;
}
} */
/* .container {
    margin-top: 6%;
    border: 2px solid #457afc;
}
    height: 800px;
    margin-bottom: 25px;
    border-radius: 25px;
}


.card {
    width: 155px;
    border: 0px !important;
    height: 183px;
} */

@media only screen and (min-width: 300px) and (max-width: 575px) {
    a.btn.btn-primary {
        font-size: 13px !important;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        width: 117px;
    }

    .card-cont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        left: 20px;
    }

    .container {
        display: grid;
        grid-template-columns: 75% 20%;
        grid-template-rows: auto auto auto;
        border: 4px solid cornflowerblue;
        border-radius: 25px;
        margin-top: 100px;
        padding: 35px;
        row-gap: 107px;
        position: relative;
        margin-bottom: 75px;
    }

    p {
        font-size: 15px;
    }
}